body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #f4f4f4;
}

.App {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

input[type="text"] {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #b8b6b6;
}

button {
  padding: 10px 16px;
  background-color: #086fcf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #347cb8;
}

p {
  font-size: 24px;
  margin-top: 10px;
}
